html {
  scrollbar-gutter: stable;
}

@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@utility grid-background {
  background-image: 
    linear-gradient(to right, #e5e7eb 1px, transparent 1px),
    linear-gradient(to bottom, #e5e7eb 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: center center;
  opacity: 0.6;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/* Custom minimal scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
